.button {
    background-color: var(--primary);
    color: var(--text-primary);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius)
}

.button:hover {
    opacity: 0.85
}

.secondary {
    background-color: var(--secondary);
}

.light-primary {
    background-color: var(--light-primary);
}
