img {
    margin-bottom: 1rem;
}

.especialistas {
    display: flex;
    flex-direction: column;
    margin: -1rem;
    flex-wrap: wrap;
}

.especialistas li {
    margin: 1rem;
    flex-grow: 1;
}

@media (min-width: 750px) {
    .especialistas {
        flex-direction: row;
    }
}