main > .horizontal {
    justify-content: space-between;
}

.noticia {
    justify-content: space-between;
    flex-grow: 1
}

.noticia img {
    margin-bottom: 1rem;
}

@media (min-width: 750px) {

    .noticia {
        max-width: calc(50% - 2rem - 2rem); /* Por el padding del card y una pequeña separacion de la noticia */
    }

}