main section {
    margin: 0px -1rem;
}

article footer {
    text-align: center;
    width: 100%;
    border-top: var(--border-divider);
    padding-top: 1rem;
}

article.card {
    border-width: 3px;
    border-style: solid;
    margin: 1rem
}

article.card:first-of-type header{
    color: var(--error)
}

.confirmed {
    border-color: var(--light-primary)
}

.canceled {
    border-color: var(--error)
}

.completed {
    border-color: var(--success)
}

.no-asistio {
    border-color: var(--secondary)
}

.new-turn {
    display: block;
    width: max-content;
    margin: 1rem auto;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
}

@media (min-width: 700px) {
    main section {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    article.card {
        min-width: 250px;
        flex-grow: 1;
        width: calc(20% - 2rem)
    }
}